@model IEnumerable<ClaseDatos.Instructor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido_instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono_instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo_instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ficha.Jornada_ficha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_instructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido_instructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono_instructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo_instructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_instructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ficha.Jornada_ficha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_instructor }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_instructor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_instructor })
        </td>
    </tr>
}

</table>
